.button {
  background-color: grey;
}
.create-survey {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.take-survey {
  display: flex;
  align-items: center;
  justify-content: center;
}
