.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gloria Hallelujah", cursive;
}
h1 {
  font-size: 48px;
  color: green;
}
img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
